@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ededed;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

@layer base {
  a:focus-visible, button:focus-visible {
    outline: 2px solid #fff;
    border-radius: 2px;
  }
}
